<h1>Welcome to Raddit.</h1>

<h2>While you were away...</h2>

<%= link_to 'Post a link', new_link_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
  </tr>
  <% @link.each do |link| %>
      <tr>
        <td>
          <%= link.title %>
        </td>
        <td>
          <%= link.url %>
        </td>
        <td>
          <%= link_to 'Show', link %>
        </td>
        <% if link.user == current_user %>
            <td>
              <%= link_to "Edit", edit_link_path(link) %>
            </td>
            <td>
              <%= link_to "Delete", link_path(link), method: :delete %>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>