<h1>Add a new Link</h1>

<% if @link.errors.any? %>
    <h2><%= pluralize(@link.errors.count, "error")%> found.</h2>
    <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

<% end %>

<div class="container">
  <%= form_for(@link) do |f| %>
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :url %>
        <%= f.text_field :url, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-success" %>
      </div>

  <% end %>
</div>