<h1>Displaying your link</h1>

<p class="show-title">
  <a href=<%= @link.url %> ><%= @link.title %></a>
</p>

<p>
  <%= @link.url %><br>
  Submitted by <%= link_to @link.user.name, @link.user %>
</p>

<p>
  <div class="pull-right">
    <%= link_to like_path(@link), class: "btn btn-default btn-sm" do%>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Like
        <span class="badge"><%= @link.votes.where(like: "1").count %></span>
    <% end %>
    <%= link_to dislike_path(@link), class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down"></span>
        Dislike
        <span class="badge"><%= @link.votes.where(dislike: "1").count %></span>
    <% end %>
  </div>
</p>

<div class="show-buttons">
  <p>
    <%= link_to "Visit Url", @link.url, class: "btn btn-primary" %>
    <% if @link.user == current_user %>
        <%= link_to "Edit", edit_link_path(@link), class: "btn btn-default" %>
        <%= link_to "Delete", link_path(@link), method: :delete, class: "btn btn-default" %>
    <% end %>
  </p>
</div>

<p>
<div class="comment-count">
  <%= pluralize(@link.comments.count, "comment") %>
</div>
</p>

<%= render @link.comments %>

<div class="comment-header">
  Add comment
</div>
<% if logged_in? %>
    <%= form_for([@link, @link.comments.build]) do |f| %>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Comment", class: "btn btn-info" %>
        </div>
    <% end %>

<% else %>
    <div class="alert alert-info">Please login so that you can comment</div>
<% end %>

<p>
  <%= link_to 'Take me Home', root_path, class: "btn btn-primary" %>
</p>